/*    import google roboto font    */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,400;8..144,600;8..144,700&display=swap');

/*    styling for the page, includes background image, countdown timer style, button styles, text positioning, text styles and font    

#page-style {
    background-color: rgb(0, 56, 101);
    background-image: url("../img/question_mark_background.webp"); 
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    min-height: 100dvh;
    width: 100%;
    margin: 0;
    padding: 0;  
}

.title-style {  
    font-family: 'Roboto', sans-serif;
    font-size: 3em;
    font-weight: 700;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 1.0);
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;  
}

.question-style {
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    font-weight: 600;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 1.0);
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;  
}

#buttonStart {
    cursor: grab;
    padding: 0;
    background-color: rgb(0, 115, 0);
    box-shadow: 5px 5px 2px rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: none;
    width: 125px;
    height: 125px;
    border-radius: 50%;
    font-size: 2em;
    font-weight: bold; 
    text-align: center;  
}

#buttonRules {
    cursor: grab;
    padding: 0;
    background-color: rgb(128, 0, 128);
    box-shadow: 5px 5px 2px rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: none;
    width: 125px;
    height: 125px;
    border-radius: 50%;
    font-size: 2em;
    font-weight: bold; 
    text-align: center;  
}

#buttonSound {
  cursor: grab;
  padding: 0;
  background-color: rgb(64, 0, 255);
  box-shadow: 5px 5px 2px rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border: none;
  margin-right: 25px;
  width: 125px;
  height: 125px;
  border-radius: 50%;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 4em; 
  text-align: center; 
  z-index: 1;
}

#buttonQuit {
  cursor: grab;
  padding: 0;
  background-color: rgb(255, 0, 0);
  box-shadow: 5px 5px 2px rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border: none;
  margin-right:25px;
  width: 125px;
  height: 125px;
  border-radius: 50%;
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
  font-weight: bold; 
  text-align: center; 
  z-index: 1;
}

#countdownTimer {
    font-family: 'Roboto', sans-serif;
    font-size: 6em;
    font-weight: bold;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 10px solid black;
    text-align: center;
    padding-top: 10px;
    margin: 0 50px;
}

#button-timer-pos {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 10px 0;
}

.answerButton {
    cursor: grab;
    padding: 0;
    background-color: rgb(0, 0, 0);
    box-shadow: 5px 5px 2px rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    border: none;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    font-weight: 700; 
    margin: 0 25px; 
    text-align: center;
    z-index: 1;
}

#answerButtonPos {
    display: grid;
    grid-template-columns: 15% 75%;
    grid-template-rows: repeat(3, 75px);
    align-items: center;
    justify-content: center;
    gap: 25px; 
}

.answerStyle {
    font-family: 'Roboto', sans-serif;
    font-size: 1.75em;
    font-weight: 700;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 1.0);
    margin-top: 10px;
    margin-bottom: 10px; 
    text-align:center; 
}

#easierButton {
    cursor: grab;
    padding: 0;
    background-color: rgb(255, 102, 0);
    box-shadow: 8px 8px 3px rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: none;
    width: 175px;
    height: 175px;
    border-radius: 50%;
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    font-weight: bold; 
    text-align: center; 
    z-index: 2;
}

#easier-button-pos {
    display: flex;
    position: relative;
    justify-content: center;
    margin: 5px 0;  
}

#score-hiscore-style {
    display: flex;
    justify-content: space-around;
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    font-weight: 700;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 1.0);
    margin-top: 75px 
} 

#score-pos {
    position: fixed;
    width: 100%;
    bottom: 0px;
}

.error-404 {
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    font-weight: 700;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 1.0);
    text-align: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;  
}

/*    styling for the rules modal    

.modal {
    display: none; 
    position: fixed; 
    z-index: 2; 
    padding: 10% 25%;
    left: 0;
    top: 0;
    width: 50%;
    height: 75dvh;
    overflow: auto; 
    background-color: rgba(0,0,0,0.6);
}

.modal-content {
    font-family: 'Roboto', sans-serif;
    background-color: white;
    box-shadow: 10px 10px 5px black;
    border-radius: 2%; 
    margin: auto;
    padding: 20px;
    width: 80%;
}

#rules-style {
    font-weight: 700;
    font-size: 1.25em;  
}

.close {
    color: rgb(0, 0, 0);
    position: relative;
    top: -15px;
    left: 95%;
    font-size: 2em;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: rgb(255, 0, 0);
    text-decoration: none;
    cursor: pointer;
}

/*    adjustments to styling for mobile screens    

@media screen and (max-width: 900px) {
  .title-style {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6em;
    font-weight: 700;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 1.0);
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;  
  } 
    
  .question-style {
    font-family: 'Roboto', sans-serif;
    font-size: 1.25em;
    font-weight: 600;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 1.0);
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;  
  }

  #buttonStart {
    cursor: grab;
    padding: 0;
    background-color: rgb(0, 128, 0);
    box-shadow: 5px 5px 2px rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: none;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    font-size: 1em;
    font-weight: bold; 
    text-align: center;
  }
    
  #buttonRules {
    cursor: grab;
    padding: 0;
    background-color: rgb(128, 0, 128);
    box-shadow: 5px 5px 2px rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: none;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    font-size: 1em;
    font-weight: bold; 
    text-align: center;  
  }

  #countdownTimer {
    font-family: 'Roboto', sans-serif;
    font-size: 3em;
    font-weight: bold;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 8px solid rgb(0, 0, 0);
    text-align: center;
    padding-top:5px;
    margin: 0 15px;   
  }

  #button-timer-pos {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 25px 0;
  }

  #answerButton {
    cursor: grab;
    padding: 0;
    background-color: rgb(0, 0, 0);
    box-shadow: 2px 2px 1px rgb(255, 255, 255);
    color:  rgb(255, 255, 255);
    border: none;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    font-family: 'Roboto', sans-serif;
    font-size: 1.75em;
    font-weight: 700; 
    margin: 25px; 
    text-align: center;
  }

  #answerButtonPos {
    display: grid;
    grid-template-columns: 25% 70%;
    grid-template-rows: repeat(3, 75px);
    align-items: center;
    gap: 5px;  
  }  
    
  .answerStyle {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: 700;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 1.0);
    margin-top: 10px;
    margin-bottom: 10px;  
  }
    
  #easierButton {
    cursor: grab;
    background-color: rgb(255, 102, 0);
    box-shadow: 6px 6px 3px rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: none;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    font-family: 'Roboto', sans-serif;
    font-size: 1.25em;
    font-weight: bold; 
    text-align: center; 
    z-index: 2;
  }
    
  #easier-button-pos {
    display: flex;
    justify-content: center;
    position: relative;
    margin: -5px 0px;  
  }

  #buttonSound {
    cursor: grab;
    padding: 0;
    background-color: rgb(64, 0, 255);
    box-shadow: 5px 5px 2px rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: none;
    margin-right: 5px;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    font-family: 'Roboto', sans-serif;
    font-size: 1.75em;
    font-weight: bold; 
    text-align: center; 
    z-index: 1;
  }  

  #buttonQuit {
    cursor: grab;
    padding: 0;
    background-color: rgb(255, 0, 0);
    box-shadow: 5px 5px 2px rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: none;
    margin-right: 5px;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: bold; 
    text-align: center; 
    z-index: 1;
  }
 
  #score-hiscore-style {
    display: flex;
    justify-content: space-around;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    font-weight: 700;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 1.0);
    margin-top: 75px 
  }
    
  #score-pos {
    position: fixed;
    width: 100%;
    bottom: 0px;
  }

  /*    adjustment to modal styling on mobile screens    

  .modal {
    display: none; 
    position: fixed; 
    z-index: 2; 
    padding: 10% 10%;
    left: 0;
    top: 0;
    width: 80%;
    height: 90dvh;
    overflow: auto; 
    background-color: rgba(0,0,0,0.6);
  }
    
  .modal-content {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(255, 255, 255);
    box-shadow: 10px 10px 5px rgb(0, 0, 0);
    border-radius: 2%; 
    margin: auto;
    padding: 20px;
    width: 80%;
  }
}

/*    prevents sticky hover action on mobile displays    

@media (hover: hover) {
  .answerButton:hover {
    background-color: rgb(251, 239, 8);
    box-shadow: 5px 5px 2px rgb(0, 0, 0);
    color: rgb(0, 0, 0);    
  }

  #buttonStart:hover {
    background-color: rgb(7, 175, 7);
  }

  #buttonRules:hover {
    background-color: rgb(211, 9, 211);
  }

  #buttonSound:hover {
    background-color: rgb(0, 119, 255);
  }

  #buttonQuit:hover {
    background-color: rgb(255, 44, 44);
  }

  #easierButton:hover {
    background-color: rgb(255, 128, 0);
  }
} */
   
/*    NEW CSS    */

#body-style {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    height: 100dvh;
    width: 100%;
    background-color: rgba(0, 59, 111, 1.0);
    color: white;
}

.game-background {
    background-color: rgb(0, 59, 111);
    background-image: url("../img/question_mark_img.webp"); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 90dvh;
    width: 100%;
    margin: 0;
    padding: 0;  
}

.button-style {
    background-color: rgba(0, 59, 111, 1.0) !important;
    margin: 0 !important;
    padding: 2px !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0 !important;
    box-shadow: 5px 5px 5px black;
    z-index: 255;
}

.modal-style {
    border-radius: 0 !important;
}

.title-style {
    font-family: "Roboto", sans-serif;
    font-size: 1.5em;
    font-weight: 700; 
}


#timer-style {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 5px solid black;
    background-color: white;
    color: rgba(0, 59, 111, 1.0);
    font-family: "Roboto", sans-serif;
    font-size: 48px;
    font-weight: 700;
    margin-top: 5px;
    text-align: center;
}

.question-style {
    width: 100%;
    height: 4rem;
    border: 5px solid rgba(0, 59, 111, 1.0);
    background-color: white;
    color: black;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 1.25em;
}

button {
  height: 3rem;
}

#cookieConsent {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1.25rem;
}

#cookieYes {
  background-color: rgb(255, 255, 255);
  color: black;
  border: 0;
  border-radius: 0;
  box-shadow: 5px 5px 5px black;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}